@import 'src/styles/vars';

.connexion {
  font-size: 1.5em;
  margin: 20px;
  #email{
    font-size: 1em;
  }
  button{
    margin-top: 60px;
    font-size: 1em;
    background-color: lightblue;
    border-radius: 20%;
  }
}
