@import 'src/styles/vars';

.connexion {
  font-size: 1.6rem;
  margin: 20px;
  height: 200px;
  #email{
    font-size: 1.6rem;
    margin-left: 10px;
    height: 35px;

  }
  button{
    margin-left: 10px;
    font-family: 'Dosis', sans-serif;
    font-size: 1.2rem;
    background-color: $blue;
    border-radius: 1rem;
  }
}
