@import 'src/styles/vars';

.main {
  font-size: 2.1em;
  padding-top: 10px;
  margin: 10px;
  // background-image: url(../../assets/images/appareil.jpg);
  background-repeat: no-repeat;
  background-size: 50%;
  // height: 600px;
  background-position: center;
  line-height: 1.6;

  .requirement{
    background-color: lightgrey;
    border: lightgrey 1px solid;
    width: 50%;
    margin: 10px auto;
    border-radius: 1rem;
    padding: 6px;
  }

  .main-list{
    list-style-type: circle;
  }


  .subscrire-go{
    color: red;
    font-size: 1.4em;
    border-radius: 1rem;
    background-color: rgba($color: #fd0000, $alpha: 0.2);
    padding: 10px;
    &:hover{
      color: black;
      background-color: rgba($color: #fd0000, $alpha: 0.6);
    }
  }

}
