@import 'src/styles/vars';

.main {
  font-size: 1.5em;
  padding-top: 10px;
  margin: 10px;
  // background-image: url(../../assets/images/appareil.jpg);
  background-repeat: no-repeat;
  background-size: 50%;
  // height: 600px;
  background-position: center;
  line-height: 2.5;

  .requirement{
    background-color: lightgrey;
    border: lightgrey 1px solid;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .main-list{
    list-style-type: circle;
    // list-style: url('../../assets/images/bandelette.jpg');
  }


  .subscrire-go{
    color: red;
    font-size: 1.4em;
  }
}
.box {
  position: relative;
  }
  .box-entered {
  color: black;
  }
  .box-entering {
  animation-name: example;
  animation-duration: 0.30s;
  }
  @keyframes example {
  0% {
  color: black;
  left: -300px;
  top: 0px;
  }
  25% {
  color: black;
  left: -200px;
  top: 0px;
  }
  50% {
  color: black;
  left: -100px;
  top: 0px;
  }
  75% {
  color: black;
  left: -50px;
  top: 0px;
  }
  100% {
  color: black;
  left: 0px;
  top: 0px;
  }
  }
