@import 'src/styles/vars';

.account {
  width: 90%;
  font-size: 2rem;
  margin: 0 auto;
//   margin: 10px;
  margin-bottom: 30px;
  .targets{
     font-weight: bold;;
  }
   p{
      margin: 15px auto;
   }
  .button-sendbloodsugars{
   margin: 5px;
   padding: 3px 5px;
   font-family: 'Dosis', sans-serif;
   font-size: 1.2rem;
   border-radius: 1rem;
   background-color: rgba($color: $blue, $alpha: 0.9);

  }

   .display-bloodsugar{
      // border: lightsteelblue 2px solid;
      width: 30%;
      margin: 0 auto;
      border-radius: 1rem;
   }
  h2, h3 {
     margin: 15px;

  }
  .account-last-bloodsugars {
   width: 100%;

   font-size: 2.4rem;
   margin: 10px;
   margin-bottom: 20px;
}
  .display-button{
     background-color: $blue;
     font-size: 1.5rem;
     font-family: 'Dosis', sans-serif;
     margin: 10px;
     padding: 5px 10px;
     border-radius: 1rem;

  }
  table {
    width: 80%;
    margin: 0 auto;
    text-transform: capitalize;
    font-size: 1.7rem;
    border: 1px $blue solid;

    img{
       width: 25px;
    }
   td {
      height: 60px;
      padding: 15px;

      
   }

   .bloodsugar-ok {
     color: rgb(0, 128, 0);
   }
   .bloodsugar-high {
     color: $red;
   }
   .bloodsugar-low {
     color: rgba(248, 137, 33, 0.7);
   }
   tr{
      border: 1px $blue solid;
      &:hover{
         background-color: rgba($color: $red, $alpha: 0.3);
       }
   }
 }
 @media screen and (min-width: 769px) and (max-width: 1200px) {   
  
       
      table{
         width: 100%;
      }
         .display-bloodsugar{
            width: 65%;
         }
       }
    
   
 @media screen and (min-width: 481px) and (max-width: 768px) {   

       
      table{
         width: 100%;
         font-size: 0.9rem;
         td {
            height: 30px;
            padding-right: 3px;
            padding-bottom: 3px;
         }
      }

      .display-bloodsugar{
            width: 80%;
      }
}
   
 
 @media screen and (max-width: 480px) {

       table{
          max-width: 100vw;
          font-size: 1.5rem;

          td {
            // height: 30px;
            padding: 2px;
         }

       }
       .display-bloodsugar{
          // border: lightsteelblue 2px solid;
          width: 80%;
       }
    }
 
}