@import 'src/styles/vars';

.account {
  width: 90%;
  font-size: 2rem;
  margin: 0 auto;
//   margin: 10px;
  margin-bottom: 30px;

   .display-bloodsugar{
      // border: lightsteelblue 2px solid;
      width: 30%;
      margin: 0 auto;
      border-radius: 1rem;
   }
  h2, h3 {
     margin: 15px;
     width: 100%;

  }
  .account-last-bloodsugars {
   width: 100%;

   font-size: 2.4rem;
   margin: 10px;
   margin-bottom: 20px;
}
  .display-button{
     background-color: $blue;
     font-size: 1.5rem;
     font-family: 'Dosis', sans-serif;
     margin: 10px;
     padding: 5px 10px;
     border-radius: 1rem;

  }
  table {
    width: 80%;
    margin: 0 auto;
    text-transform: capitalize;
   td {
      height: 60px;
      padding-right: 10px;
   }
   .bloodsugar-ok {
     color: lightgreen;
   }
   .bloodsugar-high {
     color: $red;
   }
   .bloodsugar-low {
     color: rgba(248, 137, 33, 0.7);
   }
 }
 @media screen and (min-width: 769px) and (max-width: 1200px) {   
  
       
      table{
         width: 100%;
      }
         .display-bloodsugar{
            width: 65%;
         }
       }
    
   
 @media screen and (min-width: 481px) and (max-width: 768px) {   

       
      table{
         width: 100%;
         font-size: 1.5rem;
         td {
            height: 40px;
            padding-right: 5px;
            padding-bottom: 3px;
         }
      }

      .display-bloodsugar{
            width: 80%;
      }
}
   
 
 @media screen and (max-width: 480px) {

       table{
          width: 100%;


       }
       .display-bloodsugar{
          // border: lightsteelblue 2px solid;
          width: 80%;
       }
    }
 
}