@import 'src/styles/vars';

.about {
  font-size: 2rem;
  width: 70%;
  margin: 20px auto;
  // max-height: 150px;
  @media screen and (min-width: 769px) and (max-width: 1200px) {   
    font-size: 1.5rem;

    .requirement{
      width: 80%;
    }

  }
  
  
  @media screen and (min-width: 481px) and (max-width: 768px) {   
    font-size: 1.7rem;

  }
 

  @media screen and (max-width: 480px) {
    font-size: 1.5rem;
    
  }

}
