@import 'src/styles/vars';

.header {
  width: 100%;
  font-size: 2.5rem;
  padding: 10px;
  text-align: center;

  //animation background
  background: linear-gradient(178deg,$blue,$red);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 6.5s ease infinite;
  animation: AnimationName 6.5s ease infinite;
  
  h1 {
    font-size: 1.8em;
    // margin-left: -80px;
  }
  .diabetica-logo{
    width: 80px;
  }


  @media screen and (min-width: 769px) and (max-width: 1200px) {   
    font-size: 1.8rem;

    h1 {
      font-size: 3.8rem;
      // margin-left: -80px;
    }
    .diabetica-logo{
      width: 50px;
    }


  }
  @media screen and (min-width: 481px) and (max-width: 768px) {   
    font-size: 1.8rem;

    h1 {
      font-size: 3.8rem;
      // margin-left: -80px;
    }
    .diabetica-logo{
      width: 50px;
    }

   
  }
 

  @media screen and (max-width: 480px) {
    font-size: 1.5rem;

    h1 {
      font-size: 3.8rem;
      // margin-left: -80px;
    }
    .diabetica-logo{
      width: 50px;
    }
  
    
  }
}
@-webkit-keyframes AnimationName {
    0%{background-position:82% 0%}
    50%{background-position:19% 100%}
    100%{background-position:82% 0%}
}
@keyframes AnimationName {
    0%{background-position:82% 0%}
    50%{background-position:19% 100%}
    100%{background-position:82% 0%}
}
