@import 'src/styles/vars';

.footer {
  background-color: $mainColor;
  font-size: 1.5em;
  padding-top: 40px;
  height: 150px;

  // max-height: 150px;
  .footer-logos {
    padding: 5px;
    a {
      img {
        height: 60px;
        padding: 5px;
      }
    }
  }
}
