@import 'src/styles/vars';


.connection {
  font-size: 1.7rem;
  margin: 20px;
  h1{
    color: $blue;
  }
  #password{
    font-size: 1.7rem;
  }
  button{
    font-size: 1.7rem;
    background-color:$blue;
  }
}
