.nav {
  font-size: 1.6em;
  text-align: center;
  padding: 10px;
  a{
    display: inline-block;
    margin-left: 10px;
  }
  .nav-active{
    background-color: aqua; 
  }
  // background: rgb(98,195,237);
}
