@import 'src/styles/vars';

.nav {
  width: 100%;
  font-size: 2.1rem;
  text-align: center;
  padding: 20px;
  background-color: rgba($color: $blue, $alpha: 0.9);
  a{
    display: inline-block;
    margin-left: 15px;
    padding: 10px;
    border-radius: 1rem;
    &:hover{
      background-color: rgba($color:$red, $alpha: 0.6);
    }
    
  }
  .nav-active{
    background-color: rgba($color:$red, $alpha: 0.2);
  }
  button {
    margin-left: 20px;
    background-color: rgba($color:$red, $alpha: 0.2);
    font-size: 2.1rem;
    font-family: 'Dosis', sans-serif;
    display: inline-block;
    border-radius: 1rem;
    padding: 4px 8px;

    &:hover{
      background-color: rgba($color: $red, $alpha: 0.6);
    }
  }
  
  @media screen and (min-width: 769px) and (max-width: 1200px) {   
    font-size: 1.8rem;

    h1 {
      font-size: 3.8rem;
      // margin-left: -80px;
    }
    .diabetica-logo{
      width: 50px;
    }


  }
  @media screen and (min-width: 481px) and (max-width: 768px) {   
    font-size: 1.8rem;

    h1 {
      font-size: 3.8rem;
      // margin-left: -80px;
    }
    .diabetica-logo{
      width: 50px;
    }

   
  }
 

  @media screen and (max-width: 480px) {
  
      font-size: 1.2rem;
      padding: 1px;
      a{
        display: inline-block;
        margin-left: 15px;
        padding: 3px;

      }
      button {
        display: inline-block;
        padding: 3px;
        font-size: 1.2rem;
      }
  
    
  }
}